@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 87 32% 94%;
    --foreground: 87 56% 20%;

    --card: 87 32% 93%;
    --card-foreground: 87 56% 20%;

    --popover: 87 32% 94%;
    --popover-foreground: 87 56% 20%;

    --primary: 87 56% 18%;
    --primary-foreground: 87 32% 94%;

    --secondary: 207 31% 90%;
    --secondary-foreground: 87 56% 20%;

    --muted: 207 21% 90%;
    --muted-foreground: 87 16% 37%;

    --accent: 327 78% 86%;
    --accent-foreground: 327 78% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 207 11% 91%;
    --input: 207 11% 91%;
    --ring: 87 56% 18%;

    --radius: 0;

    --sidebar-background: 87 32% 94%;

    --sidebar-foreground: 87 56% 25%;

    --sidebar-primary: 87 56% 18%;

    --sidebar-primary-foreground: 87 32% 94%;

    --sidebar-accent: 207 31% 90%;

    --sidebar-accent-foreground: 87 56% 20%;

    --sidebar-border: 207 11% 91%;

    --sidebar-ring: 207 1% 75%;

    --chart-1: 87 58% 39%;

    --chart-2: 117 76% 61%;

    --chart-3: 147 37% 24%;

    --chart-4: 177 74% 66%;

    --chart-5: 207 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);

    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);

    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 87 4% 11%;
    --foreground: 87 36% 70%;

    --card: 87 4% 8%;
    --card-foreground: 87 36% 70%;

    --popover: 87 4% 11%;
    --popover-foreground: 87 36% 70%;

    --primary: 87 36% 89%;
    --primary-foreground: 87 4% 11%;

    --secondary: 207 1% 15%;
    --secondary-foreground: 87 36% 70%;

    --muted: 207 -4% 15%;
    --muted-foreground: 207 1% 75%;

    --accent: 327 38% 22%;
    --accent-foreground: 327 78% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 207 -4% 15%;
    --input: 207 1% 25%;
    --ring: 207 1% 83%;
    --sidebar-background: 87 4% 11%;
    --sidebar-foreground: 207 31% 95%;
    --sidebar-primary: 327 78% 55%;
    --sidebar-primary-foreground: 87 36% 70%;
    --sidebar-accent: 207 -4% 15%;
    --sidebar-accent-foreground: 207 31% 95%;
    --sidebar-border: 207 -4% 15%;
    --sidebar-ring: 207 1% 83%;
    --chart-1: 87 70% 50%;
    --chart-2: 207 75% 55%;
    --chart-3: 117 80% 55%;
    --chart-4: 7 65% 60%;
    --chart-5: 247 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}